 pip>=23.3.0
 certifi>=2022.12.07
 wheel>=0.38.1
 urllib3>=1.26.19
 requests>=2.32.0
 idna>=3.7
 jinja2>=3.1.6
 markupsafe>=2.0.0
 cookiecutter>=2.1.1
 boto3==1.35.92
 kubernetes
 coverage
 git+https://github.com/EOEPCA/zoo-calrissian-runner.git@develop
 git+https://github.com/ZOO-Project/zoo-argowf-runner.git@develop
 git+https://github.com/ZOO-Project/zoo-wes-runner.git@main
 cwl2ogc==0.10.0.dev5
 eoap-cwlwrap==0.16.0
 cheetah3
 redis
 CloudEvents
 psycopg2-binary
 pyyaml
 pyjwt
 loguru
 pystac
 gdal==3.8.4
 attrs
 click-config-file
 cwl-upgrader==1.2.11
 cwl-utils>=0.14
 cwl-loader==0.9.0
 hera
 httpx
 h11>=0.16.0
 #setuptools>=75.3.2
 #urllib>=1.26.5

