 jinja2>=3.1.5
 markupsafe<2.0.0
 cookiecutter==2.1.1
 boto3
 kubernetes
 coverage
 git+https://github.com/EOEPCA/zoo-calrissian-runner.git@feature/access-log-status-failed
 git+https://github.com/EOEPCA/zoo-argowf-runner.git@develop
 cheetah3
 psycopg2-binary
 pyyaml
 pyjwt
 loguru
 pystac
 gdal==3.4.3
 attrs
 click-config-file
 cwl-upgrader==1.2.11
 cwl-utils==0.14
 hera
 poetry
 httpx
