  teamengine:
    image: zooproject/ets-ogcapi-processes10:latest
    networks:
      front-tier:
        ipv4_address: 172.16.238.15
    volumes:
      - ./docker/ets-ogcapi-processes/test-run-ogcapi-processes-1.xml:/root/test-run-ogcapi-processes-1.xml
      - ./docker/ets-ogcapi-processes/test-run-wps20.xml:/root/test-run-wps20.xml
      - ./docker/ets-ogcapi-processes/src1/ets-ogcapi-processes10/src/main/config/teamengine/config.xml:/root/teamengine/config.xml
      - ./docker/ets-ogcapi-processes/test.sh:/root/test.sh
    ports:
      - "8080:8080"
