--extra-index-url https://packages.dea.ga.gov.au/
aiohttp
aiobotocore[boto3,awscli]
pyyaml
wget
requests
datacube
odc-algo
odc-aws
odc-aio
odc-apps-cloud
odc-apps-dc-tools
odc-ui
odc-index
# Jupyter components.
gdal
scipy
jupyter==1.0.0
jupyterlab==3.6.8
ipyleaflet
folium
pandas==2.0.0
numpy
xarray[complete]==2023.4.2
matplotlib==3.4.3
geopandas
scikit-image
tqdm
click>8.0.0
python-dateutil>=2.8.0
sat-search
pystac_client==0.6

dask[array]>=2022.11.1
dask
distributed==2023.5.1

# for tests
pytest
testbook

openeo
openeo-processes-dask==2023.5.1
openeo-processes-dask[implementations]==2023.5.1
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
