NUXT_OIDC_ISSUER=http://192.168.1.6:8099/realms/zooproject
NUXT_OIDC_CLIENT_ID=webapp-zooproject
NUXT_OIDC_CLIENT_SECRET=RlL6gk3D2M2BJs8HBP1DHU3iHt0jeUZC
NUXT_ZOO_BASEURL=http://192.168.1.6
NUXT_BASE_URL=http://192.168.1.6:3000
AUTH_ORIGIN=http://192.168.1.6:3000
NUXT_AUTH_SECRET=bqDXgx8fzo23xw69H05saoJ6ainr3ZHs4gtAsfW6+e8=
NODE_ENV=production
NEXTAUTH_URL=http://192.168.1.6:3000
ZOO_OGCAPI_REQUIRES_BEARER_TOKEN=true
NODE_TLS_REJECT_UNAUTHORIZED=0
